/* -------- INITIAL STYLES --------*/


colorstorage {
    #17688E;
    #348AA8
    #758E4F
    #A7BBEC
    #F9F3F1
    #f4f4f4

}
* {
	box-sizing: border-box;
}
body {
    font-family: "Ubuntu", sans-serif;
    line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
    padding-top: 63.2188px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;

}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4 {
	margin-top: 0;
    color: #17688E;
    text-transform: uppercase;

}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}


/* -------- STYLES ACROSS ALL PAGES (BASE STYLES) --------*/

/* -- CONTENT -- */

.content {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 1em;
    background-color: #f4f4f4;
}



/* -- HEADER -- */

#header {
    max-height: 100%;

}

.main-header {
    text-align: center;
}

.main-header h1 {
    margin-bottom: 0;
}

.logo {
    width: 75%;


}


/* -- NAV -- */

.main-nav {
    display: none;
}

/* -- SOCIAL -- */



.socialContainer {
    background-color:#348AA8;
    text-align: center;
    border-bottom: 10px solid #17688E;
}

.social li {
    display: inline-block;
    margin-right: 5px;
    padding: 3px;
}

.social img {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
    margin-top: 2px;
}

/* -- BANNER -- */

#banner {
    margin-top: 50px;
    height: 100%;
    text-align: center;
}
#banner img {
    max-width: 300px;
}

/* -- SLICK NAV -- */

/* -- FOOTER -- */

.footer {
    background-color:#348AA8;
    text-align: center;
    border-top: 10px solid #17688E;
    margin-top: 50px;
    height: 75px;
    padding: 20px;
}

.footer-content {


}

/* -- HEADINGS -- */

.firstLetter {
    letter-spacing: 0.1em
}

h2.firstLetter, h1.firstLetter, h3.firstLetter {
    border-bottom: 3px solid grey;

}


/* -------- MAIN PAGE --------*/

/* -- FORM -- */

form {
    background: #f4f4f4;
    max-width: 100%;
    height: auto;
}

input {
        max-width: 300px;
        border: none;
}

textarea {
    max-width: 500px;
    border: none;
    height: 100px;
    max-height: 100px;

}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    font-size: 20px;
    padding: 5px;
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 2px 2px 10px grey;
}

input[type="checkbox"] {
    padding-top: 10px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 10px;
}


button {
    padding: 10px;
    width: 100px;
    background-color:  #348AA8;
    border: none;
    border-radius: 5px
}

button:active {
    background-color: #17688E;
}



.details {
   display: inline-block;
   margin-right: 10px;
    padding 5px;
}


/* -------- ABOUT PAGE --------*/

ul.team h4 {
    margin: 0;
}

ul.team li img {
    border-radius: 30px;
}

ul.team li h4 {
    margin-top: 20px;
    letter-spacing: 0.1em;
}

ul.team li p {
    margin: 0;
}

ul.team li {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: lightgrey;
    margin-bottom: 20px;


    padding: 20px 20px;
    border-radius: 30px;
}

/* -------- SERVICES --------*/

/* ---- TABLE ----*/

table {
    margin: 0 auto;
    width: 100%;
    font-size: 75%;
    margin-bottom: 30px;
    border-collapse: collapse;
    background: #348AA8;

}

td {
    padding: 10px 20px;;
    border: 1px solid grey;
    text-align: center;
    border: 1px solid black;
    width: 100px;

}

caption {
    padding: 10px;
}

th.row, th.col {
    width: 100px;
    min-width: 50px;
}


th {
    text-align: left;
    border: 2px solid black;
}



.red {
    background-color: red;
}

.green {
    background-color: green;
}

/* -------- INDIVIDUAL TEAM MEMBER PAGE --------*/

/* -------- PSUEDO STYLES --------*/

.firstLetter::first-letter {
    font-size: 1.5em;

}

.firstLine:first-line{
    font-weight: bold;
}

/* -------- CLEARFIX --------*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
