/* -------- INITIAL STYLES --------*/


colorstorage {
    #17688E;
    #348AA8
    #758E4F
    #A7BBEC
    #F9F3F1

}
* {
	box-sizing: border-box;
}
body {
    font-family: "Ubuntu", sans-serif;
    line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
    padding-top: 63.2188px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;

}



h1,
h2,
h3 {
	margin-top: 0;
    color: #17688E;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}


/* -------- STYLES ACROSS ALL PAGES (BASE STYLES) --------*/

/* -- CONTENT -- */

.content {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}



/* -- HEADER -- */

#header {
    max-height: 100%;

}

.main-header {
    text-align: center;
}

.main-header h1 {
    margin-bottom: 0;
}

.logo {
    width: 75%;


}


/* -- NAV -- */

.main-nav {
    display: none;
}

/* -- SOCIAL -- */



.socialContainer {
    background-color:#348AA8;
    text-align: center;
    border-bottom: 10px solid #17688E;
}

.social li {
    display: inline-block;
    margin-right: 5px;
    padding: 3px;
}

.social img {
    width: 40px;
    height: 40px;
    margin-bottom: -5px;
    margin-top: 2px;
}

/* -- BANNER -- */

#banner {
    margin-top: 20px;
    height: 100%;
    text-align: center;
}

/* -- SLICK NAV -- */

/* -- FOOTER -- */

.footer {
    background-color:#348AA8;
    text-align: center;
    border-top: 10px solid #17688E;
}

.footer-content {
    padding: 10px;
}




/* -------- MAIN PAGE --------*/

/* -- FORM -- */

.form {
    width: 80%;
    margin: 20px auto 0px auto;

}

/* -------- ABOUT PAGE --------*/

/* -------- SERVICES --------*/

/* -------- INDIVIDUAL TEAM MEMBER PAGE --------*/

/* -------- PSUEDO STYLES --------*/

.firstLetter::first-letter {
    font-size: 1.5em;
}

.firstLine:first-line{
    font-weight: bold;
}
